html        {
    box-sizing: border-box;


}

*, *:before, *:after    {
    box-sizing: inherit;
}

img {
    
    max-width: 35%;
}

body  {
    
    background-color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    
    
}

h1{
    
    color: saddlebrown;
    
    
}

h2{
    color: rosybrown;
    
    
}